<h1 class="text-2xl font-bold mb-4"><%= @listing.title %></h1>

<div>
  Per night <%= number_to_currency(@listing.nightly_price / 100, precision: 0) %>
</div>
<div>
  Cleaning fee <%= number_to_currency(@listing.cleaning_fee / 100, precision: 0) %>
</div>

<form action="/reservations" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="reservation[listing_id]" value="<%= @listing.id %>">
  <input type="submit" value="Reserve">
</form>


<%= @listing.city %>, <%= @listing.state %>

<p>
  <%= @listing.about %>
</p>

<p>
  <%= @listing.max_guests %>
</p>


<% if @listing.photos.exists? %>
  <% @listing.photos.each do |photo| %>
    <%= image_tag photo.photo.variant(resize_to_limit: [100, 100]) %>
  <% end %>
<% end %>

<ul>
  <% @listing.rooms.each do |room| %>
  <li><%= room.room_type %> beds: <%= room.beds.count %></li>
  <% end %>
</ul>


<div>
  <h4>Host</h4>
  <%= @listing.host.email %>
</div>
