<h1>List your property</h1>

<%= render partial: "shared/errors" %>

<form action="/host/listings" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="title">Title</label>
  <input type="text" name="listing[title]" id="title" value="<%= @listing.title %>">

  <label for="about">About</label>
  <textarea id="about" name="listing[about]"><%= @listing.about %></textarea>

  <div data-controller="address" data-action="map-loaded@window->address#initGoogle">
    <label for="address">Address</label>
    <input type="text" id="address" data-address-target="input" autocomplete="off">

    <input type="hidden" name="listing[address_line1]" data-address-target="line1">
    <input type="hidden" name="listing[address_line2]" data-address-target="line2">
    <input type="hidden" name="listing[city]" data-address-target="city">
    <input type="hidden" name="listing[state]" data-address-target="state">
    <input type="hidden" name="listing[postal_code]" data-address-target="postal_code">
    <input type="hidden" name="listing[country]" data-address-target="country">
    <input type="hidden" name="listing[lat]" data-address-target="lat">
    <input type="hidden" name="listing[lng]" data-address-target="lng">
  </div>

  <label for="max_guests">How many people maxium can stay?</label>
  <input type="number" id="max_guests" name="listing[max_guests]" value="<%= @listing.max_guests %>" min="1" max="100" step="1">

  <input type="submit" value="Create listing">
</form>
