<h1>Reservation</h1>

<h1 class="text-2xl mb-4 font-bold"><%= @reservation.listing.title %></h1>

<h3><%= @reservation.guest.email %></h3>

<pre><%= JSON.pretty_generate(@reservation.as_json(include: :calendar_event)) %></pre>

<%= link_to "Messages", messages_path(reservation_id: @reservation.id) %>

<form action="<%= cancel_reservation_path(@reservation) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Cancel">
</form>
