<%= render partial: 'shared/errors' %>

<ul>
<% @calendar_events.each do |event| %>
  <li>
    <%= event.start_date %>
    <%= event.end_date %>
    <%= event.status %>
    <%= event.try(:reservation).try(:status) %>
  </li>
<% end %>
</ul>

<form action="/reservations" method="post">
  <input type="date" name="reservation[start_date]">
  <input type="date" name="reservation[end_date]">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="reservation[listing_id]" value="<%= @listing.id %>">
  <input type="submit" value="Reserve">
</form>


