<h1 class="text-2xl font-bold mb-4">Rooms</h1>

<%= link_to "Back to #{@listing.title}", host_listing_path(@listing) %>

<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  <% @rooms.each do |room| %>
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <div class="w-full flex items-center justify-between p-6 space-x-6">
        <div class="flex-1 truncate">
          <div class="flex items-center space-x-3">
            <h3 class="text-gray-900 text-sm font-medium truncate"><%= room.room_type %></h3>
            <span class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">
              <%= room.beds.count %>
            </span>
          </div>
          <% room.beds.each do |bed| %>
            <p class="mt-1 text-gray-500 text-sm truncate"><%= bed.bed_size %></p>
          <% end %>
          <%= button_to "Delete", host_listing_room_path(@listing, room), method: :delete %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= render partial: 'form', locals: { listing: @listing } %>
